<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-allinpay" version="2.0.1" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>allinpay</name>
    <js-module name="allinpay" src="www/allinpay.js">
        <clobbers target="cordova.plugins.allinpay" />
    </js-module>
    <preference name="TLWALLET_APPID"/>
    <preference name="TLWALLET_APPKEY"/>
    <preference name="TLWALLET_SECERTKEY"/>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="allinpay">
                <param name="android-package" value="org.apache.cordova.xl.allinpay" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_SMS" />
            <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
            <uses-permission android:name="android.permission.RECEIVE_SMS" />
            <uses-permission android:name="android.permission.SEND_SMS" />
            <uses-permission android:name="android.permission.READ_CELL_BROADCASTS" />

        </config-file>
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <meta-data android:name="TLWALLET_APPID" android:value="$TLWALLET_APPID" />
            <meta-data android:name="TLWALLET_APPKEY" android:value="$TLWALLET_APPKEY" />
            <meta-data android:name="TLWALLET_SECERTKEY" android:value="$TLWALLET_SECERTKEY" />
        </config-file>
        <source-file src="src/android/allinpay.java" target-dir="src/org/apache/cordova/xl" />
        <!--引用aar包-->
        <source-file src="src/android/camera-release.aar" target-dir="libs" />
        <source-file src="src/android/livenessdetectionviewsdk-release.aar" target-dir="libs" />
        <source-file src="src/android/livenessdetectorsdk-release.aar" target-dir="libs" />
        <source-file src="src/android/tl_wallet_release_v1.2.1.aar" target-dir="libs" />
        <!--指明aar包的gradle配置文件-->
        <framework src="src/android/allinpay.gradle" custom="true" type="gradleReference"/>

    </platform>
</plugin>